body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgb(55, 55, 56);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: rgb(182, 190, 211);
  margin-top: 40px;
}

p {
  color: whitesmoke;
}

button {
  color: whitesmoke;
  background-color: rgb(92, 63, 99);
  border: none;
  border-radius: 10px;
  margin: 20px;
  padding: 15px 20px ;
}

input, value {
  background-color: darkgrey;
  color: lightgrey;
  font-size: 25px;
  border-radius: 25px;
  text-align: center;
  max-width: 40px;
  padding: 20px;
  margin: 10px;
  margin-top: 40px;
  border: none;
}